<?php

/**
 * Load local override configuration (e.g. development, testing, staging, production)
 *
 * Rename this file to settings.local.php to override variables on secondary (staging,
 * development, etc) installations of this site. Typically used to disable
 * caching, JavaScript/CSS compression, re-routing of outgoing emails, and
 * other things that should not happen on development and testing sites.
 *
 */

 $databases = array(
   'default' =>
   array (
     'default' =>
     array (
       'database' => 'SITE',
       'username' => 'DB_USER',
       'password' => 'DB_PASS',
       'host' => 'DB_HOST',
       'port' => '',
       'driver' => 'mysql',
       'prefix' => '',
     ),
   ),
 );