.service-views--page
  display: flex
  flex-wrap: wrap

  .layout__region--first
    background: $lightsilver
    padding: 4em

    .button--small
      background: #fff
      font-size: 0.9em

  .layout__region--second
    padding: 4em

    .item-list
      .box-story
        background: $lightsilver

        .box-story__link
          bottom: 0.9em
          right: 4em
